<html>
<head>
	<title>New Product</title>
</head>
<body>
	<h1>Add A New Product</h1>

	{% if errors %}
		{% for error in errors %}
			<p style="color: red">{{error}}</p>
		{% endfor %}
	{% endif %}
	<form action="{% url 'create' %}" method="post"> {% csrf_token %}
		<p>Name</p>
		<input type="text" name="name">
		<p>Description </p>
		<input type="text" name="description">
		<p>Price</p>
		<input type="number" name="price" step="0.01" min='0'>
		<br>
		<br>
		<input type="submit" value="Create">
	</form>

	<a href="/">Go Back</a>
</body>
</html>